{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deszcz Jesienny</h1>

    <pre>
    O szyby deszcz dzwoni, deszcz dzwoni jesienny
    I pluszcze jednaki, miarowy, niezmienny,
Dżdżu krople padają i tłuką w me okno...
Jęk szklany... płacz szklany... a szyby w mgle mokną
I światła szarego blask sączy się senny...
O szyby deszcz dzwoni, deszcz dzwoni jesienny...

Wieczornych snów mary powiewne, dziewicze
Na próżno czekały na słońca oblicze...
W dal poszły przez chmurną pustynię piaszczystą,
W dal ciemną, bezkresną, w dal szarą i mglistą...
Odziane w łachmany szat czarnej żałoby
Szukają ustronia na ciche swe groby,
A smutek cień kładzie na licu ich miodem...
Powolnym i długim wśród dżdżu korowodem
W dal idą na smutek i życie tułacze,
A z oczu im lecą łzy... Rozpacz tak płacze...

To w szyby deszcz dzwoni, deszcz dzwoni jesienny
I pluszcze jednaki, miarowy, niezmienny,
Dżdżu krople padają i tłuką w me okno...
Jęk szklany... płacz szklany... a szyby w mgle mokną
I światła szarego blask sączy się senny...
O szyby deszcz dzwoni, deszcz dzwoni jesienny...

Ktoś dziś mnie opuścił w ten chmurny dzień słotny...
Kto? Nie wiem... Ktoś odszedł i jestem samotny...
Ktoś umarł... Kto? Próżno w pamięci swej grzebię...
Ktoś drogi... wszak byłem na jakimś pogrzebie...
Tak... Szczęście przyjść chciało, lecz mroków się zlękło.
Ktoś chciał mnie ukochać, lecz serce mu pękło,
Gdy poznał, że we mnie skrę roztlić chce próżno...
Zmarł nędzarz, nim ludzie go wsparli jałmużną...
Gdzieś pożar spopielił zagrodę wieśniaczą...
Spaliły się dzieci... Jak ludzie w krąg płaczą...

To w szyby deszcz dzwoni, deszcz dzwoni jesienny
I pluszcze jednaki, miarowy, niezmienny,
Dżdżu krople padają i tłuką w me okno...
Jęk szklany... płacz szklany... a szyby w mgle mokną
I światła szarego blask sączy się senny...
O szyby deszcz dzwoni, deszcz dzwoni jesienny...

Przez ogród mój szatan szedł smutny śmiertelnie
I zmienił go w straszną, okropną pustelnię...
Z ponurym, na piersi zwieszonym szedł czołem
I kwiaty kwitnące przysypał popiołem,
Trawniki zarzucił bryłami kamienia
I posiał szał trwogi i śmierć przerażenia...
Aż, strwożon swym dziełem, brzemieniem ołowiu
Położył się na tym kamiennym pustkowiu,
By w piersi łkające przytłumić rozpacze,
I smutków potwornych płomienne łzy płacze...

To w szyby deszcz dzwoni, deszcz dzwoni jesienny
I pluszcze jednaki, miarowy, niezmienny,
Dżdżu krople padają i tłuką w me okno...
Jęk szklany... płacz szklany... a szyby w mgle mokną
I światła szarego blask sączy się senny...
O szyby deszcz dzwoni, deszcz dzwoni jesienny...

    </pre>
{% endblock %}
