{% extends 'base.html.twig' %}

{% block body %}
    <h1>Elegia o chłopcu polskim</h1>

    <pre>
Oddzielili cie, syneczku, od snów, co jak motyl drżą,<br/>
haftowali ci, syneczku, smutne oczy rudą krwią,<br/>
malowali krajobrazy w żółte ściegi pożóg,<br/>
wyszywali wisielcami drzew płynące morze.<br/>
Wyuczyli cię, syneczku, ziemi twej na pamięć,<br/>
gdyś jej ścieżki powycinał żelaznymi łzami.<br/>
Odchowali cię w ciemności, odkarmili bochnem trwóg,<br/>
przemierzyłeś po omacku najwstydliwsze z ludzkich dróg.<br/>
I wyszedłeś, jasny synku, z czarną bronią w noc,<br/>
i poczułeś, jak się jeży w dźwięku minut - zło.<br/>
Zanim padłeś, jeszcze ziemię przeżegnałeś ręką.<br/>
Czy to była kula, synku, czy to serce pekło?<br/>

    </pre>
{% endblock %}