{% extends 'base.html.twig' %}

{% block body %}
    <h1>Allen Ginsberg - America</h1>

    <pre>

        America I've given you all and now I'm nothing.<br />
        America two dollars and twentyseven cents January<br />
            17, 1956. <br />
        I can't stand my own mind.<br />
        America when will we end the human war?<br />
        Go fuck yourself with your atom bomb.<br />
        I don't feel good don't bother me.<br />
        I won't write my poem till I'm in my right mind.<br />
        America when will you be angelic?<br />
        When will you take off your clothes?<br />
        When will you look at yourself through the grave?<br />
        When will you be worthy of your million Trotskyites?<br />
        America why are your libraries full of tears?<br />
        America when will you send your eggs to India?<br />
        I'm sick of your insane demands.<br />
        When can I go into the supermarket and buy what I<br />
            need with my good looks? <br />
        America after all it is you and I who are perfect not<br />
            the next world. <br />
        Your machinery is too much for me.<br />
        You made me want to be a saint.<br />
        There must be some other way to settle this argument.<br />
        Burroughs is in Tangiers I don't think he'll come back<br />
            it's sinister. <br />
        Are you being sinister or is this some form of practical<br />
            joke? <br />
        I'm trying to come to the point.<br />
        I refuse to give up my obsession.<br />
        America stop pushing I know what I'm doing.<br />
        America the plum blossoms are falling.<br />
        I haven't read the newspapers for months, everyday<br />
            somebody goes on trial for murder. <br />
        America I feel sentimental about the Wobblies.<br />
        America I used to be a communist when I was a kid<br />
            I'm not sorry. <br />
        I smoke marijuana every chance I get.<br />
        I sit in my house for days on end and stare at the roses<br />
            in the closet. <br />
        When I go to Chinatown I get drunk and never get laid.<br />
        My mind is made up there's going to be trouble.<br />
        You should have seen me reading Marx.<br />
        My psychoanalyst thinks I'm perfectly right.<br />
        I won't say the Lord's Prayer.<br />
        I have mystical visions and cosmic vibrations.<br />
        America I still haven't told you what you did to Uncle<br />
            Max after he came over from Russia.<br />
        I'm addressing you.<br />
        Are you going to let your emotional life be run by<br />
            Time Magazine? <br />
        I'm obsessed by Time Magazine.<br />
        I read it every week.<br />
        Its cover stares at me every time I slink past the corner<br />
            candystore. <br />
        I read it in the basement of the Berkeley Public Library.<br />
        It's always telling me about responsibility. Business-<br />
            men are serious. Movie producers are serious. <br />
            Everybody's serious but me. <br />
        It occurs to me that I am America.<br />
        I am talking to myself again.<br />
        Asia is rising against me.<br />
        I haven't got a chinaman's chance.<br />
        I'd better consider my national resources.<br />
        My national resources consist of two joints of<br />
            marijuana millions of genitals an unpublishable <br />
            private literature that goes 1400 miles an hour <br />
            and twenty-five-thousand mental institutions. <br />
        I say nothing about my prisons nor the millions of<br />
            underprivileged who live in my flowerpots <br />
            under the light of five hundred suns. <br />
        I have abolished the whorehouses of France, Tangiers<br />
            is the next to go. <br />
        My ambition is to be President despite the fact that<br />
            I'm a Catholic. <br />
        America how can I write a holy litany in your silly<br />
            mood? <br />
        I will continue like Henry Ford my strophes are as<br />
            individual as his automobiles more so they're <br />
            all different sexes. <br />
        America I will sell you strophes $2500 apiece $500<br />
            down on your old strophe <br />
        America free Tom Mooney<br />
        America save the Spanish Loyalists<br />
        America Sacco & Vanzetti must not die<br />
        America I am the Scottsboro boys.<br />
        America when I was seven momma took me to Com-<br />
            munist Cell meetings they sold us garbanzos a <br />
            handful per ticket a ticket costs a nickel and the <br />
            speeches were free everybody was angelic and <br />
            sentimental about the workers it was all so sin- <br />
            cere you have no idea what a good thing the <br />
            party was in 1835 Scott Nearing was a grand <br />
            old man a real mensch Mother Bloor made me <br />
            cry I once saw Israel Amter plain. Everybody <br />
            must have been a spy. <br />
        America you don't really want to go to war.<br />
        America it's them bad Russians.<br />
        Them Russians them Russians and them Chinamen.<br />
            And them Russians. <br />
        The Russia wants to eat us alive. The Russia's power<br />
            mad. She wants to take our cars from out our <br />
            garages. <br />
        Her wants to grab Chicago. Her needs a Red Readers'<br />
            Digest. Her wants our auto plants in Siberia. <br />
            Him big bureaucracy running our fillingsta- <br />
            tions. <br />
        That no good. Ugh. Him make Indians learn read.<br />
            Him need big black niggers. Hah. Her make us <br />
            all work sixteen hours a day. Help. <br />
        America this is quite serious.<br />
        America this is the impression I get from looking in<br />
            the television set. <br />
        America is this correct?<br />
        I'd better get right down to the job.<br />
        It's true I don't want to join the Army or turn lathes<br />
            in precision parts factories, I'm nearsighted and <br />
            psychopathic anyway. <br />
        America I'm putting my queer shoulder to the wheel.<br />

                        - Berkeley, January 17, 1956 <br />
    </pre>
{% endblock %}