{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hymn</h1>

    <pre>
       Bogarodzico, Dziewico!

Słuchaj nas, Matko Boża,

To ojców naszych spiew.

Wolności błyszczy zorza,

Wolności bije dzwon,

Wolności rośnie krzew.

Bogarodzico!

Wolnego ludu spiew

Zanieś przed Boga tron.

 

Podnieście głos, rycerze,

Niech grzmią wolności śpiewy,

Wstrzęsną się Moskwy wieże.

Wolności pieniem wzruszę

Zimne granity Newy;

I tam są ludzie - i tam mają duszę.

 

Noc była... Orzeł dwugłowy

Drzemał na szczycie gmachu

I w szponach niosł okowy.

Słuchajcie! zagrzmiały spiże,

Zagrzmiały... i ptak w przestrachu

Uleciał nad świątyń krzyże.

Spojrzał - i nie miał mocy

Patrzeć na wolne narody,

Olśniony blaskiem swobody,

Szukał cienia... i w ciemność uleciał północy.

 

O wstyd wam! wstyd wam, Litwini!

Jeśli w Gedymina grodzie

Odpocznie ptak zakrwawiony,

Głos potomności obwini

Ten naród - gdzie czczą w narodzie

Krwią zardzawiałe korony.

Wam się chylić przed obcemi,

Nam we własnych ufać siłach;

Będziem żyć we własnéj ziemi

I we własnych spać mogiłach.

 

Do broni, bracia! do broni!

Oto ludu zmartwychwstanie,

Z ciemnéj pognębienia toni,

Z popiołów Feniks nowy

Powstał lud - błogosław, Panie!

Niech grzmi pieśń jak w dzień godowy.

 

Bogarodzico! Dziewico!

Słuchaj nas, Matko Boża,

To ojców naszych spiew,

Wolności błyszczy zorza,

Wolności bije dzwon

I wolnych płynie krew,

Bogarodzico!

Wolnego ludu krew

Zanieś przed Boga tron.
      

    </pre>
{% endblock %}