{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rymowanka</h1>
    <pre>
    Jedzie pociąg z daleka,
    na nikogo nie czeka,
    Konduktorze łaskawy,
    byle nie do do Warszawy!
    </pre>
{% endblock %}
