{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marsz</h1>

    <pre>
      Bruno Jasieński

Marsz

                                                                Siostrom od św. Samki 

Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. 
Tutaj. I tu. I tu. I tam. 
Jeden. Siedm. Czterysta-cztery. 
Panie. Na głowach. Mają. Rajery. 
Damy. Damy. Tyle tych. Dam. 
Tam. Ta. To tu. To tu. To tam. 
W willi. Nad morzem. Płacze. Skriabin. 
Obcas. Karabin. Obcas. Karabin. 
Ludzie. Ludzie. Ludzie. Do bram. 
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. 

Tam. Tam. Dalej. Za kantem. 
Pani. Biała. Z pękiem. Chryzantem. 
Pani. Biała. Czekała. W oknie. 
Kwiat. Spadł. Kapnie. Na stopnie. 
Szli. Szli. Rzędem. Po rzędzie. 
Tam. I tam. I dalej. I wszędzie. 
Młodzi. Zdrowi. Silni. Jak byki. 
Wozy. Wiozły. W kozły. Koszyki. 
W tłumie. Dziewczyna. Uliczna. Stała. 
Szybko. Podbiegła. Pocałowała. 
Ach! Krzyk. Tylko. To jedno. 
Kwiaty. W pęku. Na ręku. Więdną. 
Wolno. Cicho. Padają. Płatki. 
W dół. Na bruk. Na konfederatki. 
Eh! Pani. Pani. Biała. 
Kuwa. Prosta. Przelicytowała! 
Nam. Nam. Dajcie. I nam! 
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. 

Panie. Panny. Panowie. Konie. 
Jedzie. Dzwoni. Auto. W melonie. 
Praczki. Szwaczki. Okrzyki. Kwiatki. 
? Chodźmy. Panna. Do. Seperatki. ? 
Panna. Płacze: ? Idą. Na wojnę. 
Takie. Młode. Takie. Przystojne. ? 
Rzędem. Za rzędem. Z rzędem. Rząd. 
Wszyscy. Wszyscy. Wszyscy. Na, front. 
Eh by. Było. Młodych. Mam! 
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. 

Ktoś się. Rozpłakał. Ktoś. Bez czapki. 
Liście. Kapią. Jak gęsie. Łapki. 
W parku. Żółknie. Gliniany. Heros. 
Chłopak. Z redakcji. Pali. Papieros. 
Ktoś. Ktoś. Upadł. Nagły. Krwotok. 
Ludzie. Ludzie. Skłębienie. Potok. 
Co?... Co?... Leży... Krew... 
Łapią... Kapią. Liście. Z drzew. 
? Puśćcie! Puśćcie! Puśćcie! Ja nieechcę! 
Kurz. Kłębem. W zębach. Łechce. 
Krzyk. Popłoch. Włosy. Drżą. 
Krew... W krwi... Pachnie. Krwią... 
Tam. Tam. Poszli. Pobiegły. 
Duszno. Pusto. Usta. O cegły. 
Tu. I tu. I na rękach. Krew. 
...
Eh tam! Gdzie już. Nam! 
Tra-ta-ta-ta-tam. Tra-ta-ta-ta-tam. 

Poszli. Przeszli. Ile tu. Kobiet. 
Panie. Idą. Gotować. Obiad. 
Ktoś. W żałobie. Nie wie. Gdzie. Iść. 
Stanął. Stoi. Ogląda. Liść. 
Podniósł. Z drogi. Pomięty. Kwiatek. 
Tyle. Panien. Tyle. Mężatek. 
Tyle. Przeszło. Tyle ich. Szło... 
Słońce. Świeci. Żółto. I mdło. 
Zaraz... Zaraz... Zaraz wam... Zagram... 
Panie. W kawiarni. Piją. Mazagran. 
Wieczorem. W domach. U św. Samki. 
Przed. Matką Boską. Paliły się. Lampki. 
    </pre>
{% endblock %}