{% extends 'base.html.twig' %}

{% block body %}
<center><h1>Moja pieszczotka - Adam Mickiewicz</h1></center>
    <pre>
        Moja pieszczotka, gdy w wesołej chwili<br />
        Pocznie szczebiotać i kwilić, i gruchać,<br />
        Tak mile grucha, szczebioce i kwili,<br />
        Że nie chcąc słówka żadnego postradać<br />
        Nie śmiem przerywać, nie śmiem, nie śmiem odpowiadać<br />
        I tylko chciałbym słuchać, słuchać, słuchać.<br /><br />
         
        Lecz mowy żywość gdy oczki zapali<br />
        I pocznie mocniej jagody różować,<br />
        Perłowe ząbki błysną śród korali;<br />
        Ach! wtenczas śmielej w oczęta spoglądam,<br />
        Usta pomykam i słuchać nie żądam,<br />
        Tylko całować, całować, całować.<br />
    </pre>
{% endblock %}
