{% extends 'base.html.twig' %}

{% block body %}
<center><h1>Moja piosnka (II) - Cyprian Kamil Norwid</h1></center>
    <pre>
        Do kraju tego, gdzie kruszynę chleba<br />
        Podnoszą z ziemi przez uszanowanie<br />
        Dla darów Nieba....<br />
        Tęskno mi, Panie...<br />
        *<br />
        Do kraju tego, gdzie winą jest dużą<br />
        Popsować gniazdo na gruszy bocianie,<br />
        Bo wszystkim służą...<br />
        Tęskno mi, Panie...<br />
        *<br />
        Do kraju tego, gdzie pierwsze ukłony<br />
        Są, jak odwieczne Chrystusa wyznanie,<br />
        "Bądź pochwalony!"<br />
        Tęskno mi, Panie...<br /><br />
    </pre>
{% endblock %}
