{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nie wierzę w nic</h1>
    <pre>
        Nie wierzę w nic, nie pragnę niczego na świecie,
        Wstręt mam do wszystkich czynów, drwię z wszelkich zapałów:
        Posągi moich marzeń strącam z piedestałów
        I zdruzgotane rzucam w niepamięci śmiecie...

        A wprzód je depcę z żalu tak dzikim szaleństwem,
        Jak rzeźbiarz, co chciał zakląć w marmur Afrodytę,
        Widząc trud swój daremnym, marmury rozbite
        Depce, plącząc krzyk bólu z śmiechem i przekleństwem.

        I jedna mi już tylko wiara pozostała:
        Że konieczność jest wszystkim, wola ludzka niczym -
        I jedno mi już tylko zostało pragnienie

        Nirwany, w której istność pogrąża się cała
        W bezwładności, w omdleniu sennym, tajemniczym
I        nie czując przechodzi z wolna w nieistnienie.

    </pre>
{% endblock %}
