{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ocean</h1>

    <pre>
      Wielka ogromna arena 
olimpiada słoneczna fal wiatrem pędzonych. 
W żywioł wpędzony tysiąc pegazów spienionych. 
Drży, dygoce nieba amfiteatr, 
W niemym zachwycie wspina się i pręży.
Żaglowiec - rumak biały w bojowej uprzęży 
cwałuje i skacze przez zielone fale, 
rybitw, mew białe festony i wianki 
zaplotły się nad nim w uskrzydlonej waśni - 
- a w dalekie, błękitne horyzontu szranki 
wyjeżdża parowiec, jak dumny pancerny zapaśnik 
pod dymu pióropuszem i z pianą u kolan.

Piętrzą się turnieje, buzują igrzyska 
o jakiś wieniec z wawrzynowych liści: 
fala o rytmicznych ruchach dyskobola 
perlistej piany białe dyski ciska, 
szkwałów szybki, zadyszany wyścig 
zrywa się nagle w starcie lotnych bryzgów - 
a słońce, słońce - złoty i rozrzutny łucznik 
cisnęło tysiąc świetlistych pocisków, 
srebrzystych nożów, strzał, mieczów i włóczni.
    </pre>
{% endblock %}