{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>O, przyjdź do mnie... - <i>Baczyński Krzysztof Kamil</i></h1>

<pre>

O, przyjdź do mnie, kochana, choć we śnie, 
wiosna kwiaty uprzędła tak biało, 
tak wcześnie. 
O, przyjdź do mnie i ręce mi podaj, 
czarna, kwiatem zasnuła się białym, 
rzek woda. 
Ja tu tęsknię, a ty gdzieś daleko, 
strumień spłynął poznania złocisty 
chwil rzeką 
. . . . . . . . . . . . . . . . . . 
drzewa śniegiem gdzieś płaczą... 
daleko...
    </pre>
{% endblock %}
