{% extends 'base.html.twig' %}

{% block body %}
    <h1>Poemat Lublin</h1>

    <pre>
    Na wieży furgotał blaszany kogucik 
    na drugiej - zegar nucił. 
    Mur fal i chmur popękał 
    w złote okienka: 
    gwiazdy, lampy. 
 
    Lublin nad łąką przysiadł. 
    Sam był - 
    i cisza. 
 
    Dokoła 
    pagórów koła, 
    dymiąca czarnoziemu połać. 
 
    Mgły nad sadami czarnymi. 
    Znad łąki mgły. 
    Zamknęły się oczy ziemi 
    powiekami z mgły. 

    </pre>
{% endblock %}
