{% extends 'base.html.twig' %}

{% block body %}
    <h1>Poświatowska Halina - Odkąd cię poznałam...</h1>

    <pre>
        Odkąd cię poznałam,noszę w kieszeni szminkę,to jest bardzo glupie nosić szminkę<br />
        w kieszeni,gdy ty patrzysz na mnie tak poważnie,jakbyś w moich oczach widzial<br />
        gotycki kościół.A ja nie jestem żadną świątynią,tylko lasem i łąką-drżeniem<br />
        liści,które garną się do twoich rąk.Tam z tyłu szumi potok,to jest czas,który ucieka,a<br />
        ty pozwalasz mu przepływać przez palce i nie chcesz schwytać czasu.I kiedy cię<br />
        żegnam,moje umalowane wargi pozostają nietknięte,a ja i tak noszę szminkę w<br />
        kieszeni,odkąd wiem,że masz bardzo piękne usta.<br />
    </pre>
{% endblock %}
