{% extends 'base.html.twig' %}

{% block body %}
    <h2>Julian Tuwim - Rzepka</h2>
    <hr />
    <pre>
   Zasadził dziadek rzepkę w ogrodzie,
Chodził te rzepkę oglądać co dzień.
Wyrosła rzepka jędrna i krzepka,
Schrupać by rzepkę z kawałkiem chlebka!
Więc ciągnie rzepkę dziadek niebożę,
Ciągnie i ciągnie, wyciągnąć nie może!

Zawołał dziadek na pomoc babcię:
"Ja złapię rzepkę, ty za mnie złap się!"
I biedny dziadek z babcią niebogą
Ciągną i ciągną, wyciągnąć nie mogą!
Babcia za dziadka,
Dziadek za rzepkę,
Oj, przydałby się ktoś na przyczepkę!

Przyleciał wnuczek, babci się złapał,
Poci się, stęka, aż się zasapał!
Wnuczek za babcię,
Babcia za dziadka,
Dziadek za rzepkę,
Oj, przydałby się ktoś na przyczepkę!
Pocą się, sapią, stękają srogo,
Ciągną i ciągną, wyciągnąć nie mogą!

Zawołał wnuczek szczeniaczka Mruczka,
Przyleciał Mruczek i ciągnie wnuczka!
Mruczek za wnuczka,
Wnuczek za babcię,
Babcia za dziadka,
Dziadek za rzepkę,
Oj, przydałby się ktoś na przyczepkę!
Pocą się, sapią, stękają srogo,
Ciągną i ciągną, wyciągnąć nie mogą!

Na kurkę czyhał kotek w ukryciu,
Zaszczekał Mruczek: "Pomóż nam, Kiciu!"
Kicia za Mruczka,
Mruczek za wnuczka,
Wnuczek za babcię,
Babcia za dziadka,
Dziadek za rzepkę,
Oj, przydałby się ktoś na przyczepkę!
Pocą się, sapią, stękają srogo,
Ciągną i ciągną, wyciągnąć nie mogą!

Więc woła Kicia kurkę z podwórka,
Wnet przyleciała usłużna kurka.
Kurka za Kicię,
Kicia za Mruczka,
Mruczek za wnuczka,
Wnuczek za babcię,
Babcia za dziadka,
Dziadek za rzepkę,
Oj, przydałby się ktoś na przyczepkę!
Pocą się, sapią, stękają srogo,
Ciągną i ciągną, wyciągnąć nie mogą!

Szła sobie gąska ścieżynką wąską,
Krzyknęła kurka: "Chodź no tu gąsko!"
Gąska za kurkę,
Kurka za Kicię,
Kicia za Mruczka,
Mruczek za wnuczka,
Wnuczek za babcię,
Babcia za dziadka,
Dziadek za rzepkę,
Oj, przydałby się ktoś na przyczepkę!
Pocą się, sapią, stękają srogo,
Ciągną i ciągną, wyciągnąć nie mogą!

Leciał wysoko bocian-długonos,
"Fruńże tu, boćku, do nas na pomoc!"
Bociek za gąskę,
Gąska za kurkę,
Kurka za Kicię,
Kicia za Mruczka,
Mruczek za wnuczka,
Wnuczek za babcię,
Babcia za dziadka,
Dziadek za rzepkę,
Oj, przydałby się ktoś na przyczepkę!
Pocą się, sapią, stękają srogo,
Ciągną i ciągną, wyciągnąć nie mogą!

Skakała drogą zielona żabka,
Złapała boćka - rzadka to gradka!
Żabka za boćka,
Bociek za gąskę,
Gąska za kurkę,
Kurka za Kicię,
Kicia za Mruczka,
Mruczek za wnuczka,
Wnuczek za babcię,
Babcia za dziadka,
Dziadek za rzepkę,
A na przyczepkę
Kawka za żabkę
Bo na tę rzepkę
Też miała chrapkę.

Tak się zawzięli, Tak się nadęli,
Ze nagle rzepkę
Trrrach!! - wyciągnęli!
Aż wstyd powiedzieć,
Co było dalej!
Wszyscy na siebie
Poupadali:
Rzepka na dziadka,
Dziadek na babcię,
Babcia na wnuczka,
Wnuczek na Mruczka,
Mruczek na Kicię,
Kicia na kurkę,
Kurka na gąskę,
Gąska na boćka,
Bociek na żabkę,
Żabka na kawkę
I na ostatku
Kawka na trawkę.</pre>
{% endblock %}

