{% extends 'base.html.twig' %}

{% block body %}
    <center>   <h2>Pietruszczak Jerzy</h2>
        <h1>Wilczek</h1><center>
    <pre>
Wilczus kochany wlazł mi w krzyże 
Siedzi nieboga i mnie liże 
Zgina ma kibic jak pająka 
Ja tylko z lekka 
Sobie 
Chrząkam. 

A deszczyk pada i jest mżawka 
Z wilczkiem mam lekka swa zabawkę 
Jak robię przysiad 
To mnie lupie 
Wilczki są czasem 
Bardzo 
Głupie... 
    </pre>
{% endblock %}
